/* Testimonial Container */
.profileTestimonialContainer{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 84px 110px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.5px);
    border-radius: 1rem;
    max-width: 22rem;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
}

.profileTestimonialContainer .profileImage{
    min-width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

/* .profileTestimonialContainer .text{} */

/* Footer */
.footerContainer{
    background: var(--priColor);
    padding: 5rem 7rem;
    color: var(--white);
}

.footerContainer .newsletter{
    background: var(--white);
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContainer .newsletter input{
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: var(--white);
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2);
}

.footerContainer .aboutNav{
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding: 3rem 5rem;
    border-bottom: 1px solid var(--white);
}

.footerContainer .aboutNav .aboutColumn{
    max-width: 16rem;
}

.footerContainer .aboutNav .aboutColumn h3{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footerContainer .aboutNav .aboutColumn p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.footerContainer .aboutNav .aboutColumn .socials{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.footerContainer .copyright{
    padding: 5rem 5rem 0;
}

.footerContainer .copyright p{
    font-size: 1.3rem;
    color: rgb(242, 242, 242);
}


/* Sidebar */
.sidebarContainer{
    background-color: grey;
    z-index: 10;
    position: absolute;
    right: 20%;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90%;    
}


/* Input Styles */
.inputGroup{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 2rem 0;
}

.inputGroup label{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .6rem;
}

.inputGroup input{
    padding: 1.5rem;
    outline: none;
    border: 1.9px solid var(--priColor);
    border-radius: 3px;
}

.inputGroup select{
    padding: 1.5rem;
    outline: none;
    border: 1.9px solid var(--priColor);
    border-radius: 3px;
}

.inputGroup .submitBtn{
    padding: 1.5rem;
    color: white;
    outline: none;
    border: none;
    background-color: var(--priColor);
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}









@media screen and (max-width: 900px) {
    .inputGroup{
        min-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .footerContainer .aboutNav{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 550px) {
    .footerContainer .newsletter{
        flex-direction: column;
        gap: 1rem;
    }

    .footerContainer .newsletter input{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .footerContainer .aboutNav{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footerContainer{
        padding: 4rem 3rem !important;
    }

    .footerContainer .newsletter{
        padding: 3rem 2rem;
    }
}