.headerContainer{
  width: 100%;
  padding: 2.5rem 7rem;
  display: flex;
  justify-content: space-between;
  background-blend-mode: multiply;
  position: fixed;
  top: 0;
  z-index: 10;
}

.headerBackground{
  background-color: var(--grey3);
  opacity: .99;
  backdrop-filter: blur(5.5px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.headerContainer .brandContainer{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.headerContainer .brandContainer .logoContainer{
  position: relative;
  height: 4.1rem;
  width: 4.1rem;
}

.headerContainer .brandContainer h3{
  font-size: 2rem;
}

.headerContainer .headerNav{
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.headerContainer .headerNav .navLinks{
  display: flex;
  gap: 1.6rem;
}

.headerContainer .headerNav .navLinks .navLink a{
  font-size: 1.6rem;
  font-weight: 600;
}

/* Hero Section */
.heroSectionContainer{
  padding: 15rem 0 2.5rem 11rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: .9fr 1.5fr;
  justify-items: end;
  position: relative;
  background-color: var(--grey2);
  overflow: hidden;
  /* padd */
}

.heroSectionContainer .heroText{
  margin-top: 5rem;
}

.heroSectionContainer .heroText h1{
  font-size: 5rem;
  font-weight: 600;
}

.heroSectionContainer .heroText p{
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--grey);
  font-weight: 400;
  opacity: 0.8;
  margin: .8rem 0 3.4rem;
}

.heroSectionContainer .heroText .heroCTA{
  display: flex;
  gap: 1.6rem;
}

.heroSectionContainer .heroText .happyStudents{
  margin-top: 2rem;
  display: grid;
  width: 30rem;
  grid-template-columns: 2.8fr 4fr;
  align-content: center;
}

.heroSectionContainer .heroText .happyStudents .studentImages{
  display: flex;
  position: relative;
}

.heroSectionContainer .heroText .happyStudents .studentImages .happyStudentImage{
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--black);
  border-radius: 50%;
  position: absolute;
}

.heroSectionContainer .heroText .happyStudents .studentImages .student1{
  top: 50%;
  translate: 0 -50%;
}

.heroSectionContainer .heroText .happyStudents .studentImages .student2{
  top: 50%;
  translate: 0 -50%;
  left: 3rem;
}

.heroSectionContainer .heroText .happyStudents .studentImages .student3{
  top: 50%;
  translate: 0 -50%;
  left: 6rem;
}

.heroSectionContainer .heroBanner {
  padding-top: 5rem;
  position: relative;
  height: 60rem;
  width: 100%;
  /* padding-top: 20rem; */
}

.heroSectionContainer .heroBanner .pryCircle{
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  position: absolute;
  top: 7rem;
  left: 20rem;
  background: var(--secColor);
  /* z-index: inherit; */
}

.heroSectionContainer .heroBanner .circleOutline{
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  border: 2px solid var(--black);
  position: absolute;
  top: 5;
  left: 24rem;
  /* background: var(--secColor); */
  /* z-index: 10; */
}

.heroSectionContainer .heroBanner .scale{
  scale: 1.2;
}

.heroSectionContainer .heroBanner .heroMessage1{
  position: absolute;
  bottom: 0rem;
}

.heroSectionContainer .heroBanner .heroMessage1{
  position: absolute;
  bottom: 0rem;
}

.heroSectionContainer .heroBanner .heroMessage2{
  position: absolute;
  bottom: 10rem;
  right: 8rem;
}

.aboutSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 5rem 0 4rem 11rem;
}

.aboutSection .aboutSectionText{
  align-self: center;
}

.aboutSection .aboutSectionText h2{
  font-size: 1.8rem;
  color: var(--priColor);
  font-weight: 600;
}

.aboutSection .aboutSectionText .aboutDetails{
  width: 60%;
}

.aboutSection .aboutSectionText .aboutDetails h1{
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6rem;
}

.aboutSection .aboutSectionText .aboutDetails p{
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: 400;
  margin: 1.6rem 0 2.5rem;
  color: var(--grey);
}

.aboutSection .aboutSectionImage{
  height: 70rem;
  align-self: center;
}

.aboutSection .aboutSectionImage .imageContainer{
  height: 80%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}



/* Media Queries */

@media screen and (max-width: 1350px) {
  .heroSectionContainer{
    padding: 12rem 0 2.5rem 7rem;
  }
}


@media screen and (max-width: 1250px) {
  .heroSectionContainer{
    padding: 10rem 0 2.5rem 7rem;
  }

  .heroSectionContainer .heroBanner{
    width: 100%;
  }

  .aboutSection .aboutSectionText .aboutDetails{
    width: 80%;
  }
}


@media screen and (max-width: 1200px) {

  .heroSectionContainer{
    grid-template-columns: 1fr 1.3fr;
  }
  .heroSectionContainer .heroBanner{
    width: 100%;
  }

  .heroSectionContainer .heroBanner .pryCircle{
    left: 15rem;
    top: 8rem;
    height: 40rem;
    width: 40rem;
  }

  .heroSectionContainer .heroBanner .circleOutline{
    left: 17rem;
    top: 6rem;
    height: 40rem;
    width: 40rem;
  }
}

@media screen and (max-width: 1050px) {

  .heroSectionContainer{
    grid-template-columns: 1fr 1.2fr;
  }

  .heroSectionContainer .heroText h1{
    font-size: 4rem;
  }

  .heroSectionContainer .heroText p{
    font-size: 1.5rem;
  }

  .heroSectionContainer .heroBanner .pryCircle{
    left: 15rem;
    top: 8rem;
    height: 35rem;
    width: 35rem;
  }

  .heroSectionContainer .heroBanner .circleOutline{
    left: 17rem;
    top: 6rem;
    height: 35rem;
    width: 35rem;
  }

  .aboutSection .aboutSectionText h2{
    font-size: 1.4rem;
  }

  .aboutSection .aboutSectionText  .aboutDetails h1{
    font-size: 4.3rem;
  }

  .aboutSection .aboutSectionText .aboutDetails p{
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 950px){
  .heroSectionContainer .heroBanner .scale{
    scale: 1;
  }

  .heroSectionContainer .heroBanner .pryCircle{
    height: 30rem;
    top: 10rem;
    width: 30rem;
  }

  .heroSectionContainer .heroBanner .circleOutline{
    height: 30rem;
    top: 8rem;
    width: 30rem;
  }

  .heroSectionContainer .heroBanner{
    height: 48rem;
  }

  .aboutSection .aboutSectionText .aboutDetails{
    width: 90%;
  }
}

@media screen and (max-width: 900px){
  .heroSectionContainer{
    grid-template-columns: 1fr 1fr;
  }

  .heroSectionContainer .heroBanner .pryCircle{
    left: 10rem;
  }

  .heroSectionContainer .heroBanner .circleOutline{
    left: 10rem;
  }
}

@media screen and (max-width: 850px){
  .heroSectionContainer .heroBanner{
    width: 50vw;
    /* height: 100%; */
  }
}




/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
