.container {
 
}
.spaceContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;    

}
.spaceContainer h1 {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.formDiv {
    background-color: #e9e4e4;
    padding: 5rem;
    border-radius: 1rem;
    width: 500px;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 400px; 
  gap: 10px;
}
.input{
  padding: 10px;
  /* max-width: 100rem; */
  border: 1px solid #08e6c8;;
  border-radius: 5px;
  outline: #08e6c8;
}

.textarea {
  padding: 10px;
  border: 1px solid #08e6c8;;
  border-radius: 5px; 
  outline: #08e6c8;
 
}
.button {
  padding: 10px;
  background-color: #08e6c8;;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancelButton {
  padding: 10px;
  background-color: #e63408;;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}